<h1>All Articles</h1>
<ul id="popular_articles">
	<p><center>Popular Articles</center></p>
	<li><%= link_to @popular_article.first.title, article_path(@popular_article.first) %></li>
	<li><%= link_to @popular_article.second.title, article_path(@popular_article.second) %></li>
	<li><%= link_to @popular_article.third.title, article_path(@popular_article.third) %></li>
</ul>

<ul id="articles">
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article) %>
		</li>
	<% end %>
</ul>

<% if logged_in? %>
	<%= link_to 'Create a New Article', new_article_path, class: 'new_article' %>
<% end %>

