<!DOCTYPE html>
<html>
  <head>
    <title>BloggerApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<p class="flash">
    <%= flash.notice %>
    </p>
    <div id="navigation_links">
     	<% if logged_in? %>
   	  		<p><%= link_to "Articles", articles_path %></p> <br />
   	  		<p><%= link_to "Tags", tags_path %></p> <br />
          <p><%= link_to "Most Viewed", popular_articles_path %></p><br />
   	  		<p><%= link_to "Profile", authors_path %></p>
    	<% else %>
     		<p><%= link_to "Articles", articles_path %></p> <br /> 
   	  	<p><%= link_to "Tags", tags_path %></p> <br />
        <p><%= link_to "Most Viewed", popular_articles_path %></p>
     	<% end %>
      </div>
    <div id="container">
   	  
      <div id="content">

         <%= yield %>

         <hr>
         <h6>
           <% if logged_in? %>
              <%= "Logged in as #{current_user.username}" %>
              <%= link_to "(logout)", logout_path %>
           <% else %>
              <%= link_to "(login)", login_path %>
           <% end %>
         </h6>
      </div>
    </div>
  </body>
</html>
